<!DOCTYPE html>
<html lang="en">
<head>
  <title>Information</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="socket.io/socket.io.js"></script>
  <script>
      var socket = io("http://localhost:5000");
  </script>
</head>
<body>
  <div class="container">
    <h2>Thông tin sinh viên</h2>
    <form action="http://localhost:5000/api/submit" method="post">
      <div class="form-group">
        <label for="mssv">MSSV</label>
        <input type="text" class="form-control" id="mssv" placeholder="Enter email" name="mssv">
      </div>
      <div class="form-group">
          <label for="name">Họ tên:</label>
          <input type="text" class="form-control" id="name" placeholder="Enter email" name="name">
      </div>
      <div class="form-group">
          <label for="birth">Ngày sinh: </label>
          <input type="date" class="form-control" id="birth" placeholder="Enter email" name="birth">
      </div>
      <div class="form-group">
          <label for="email">Email:</label>
          <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
      </div>
      <div class="form-group">
        <label for="number">Số điện thoại:</label>
        <input type="number" class="form-control" id="number" placeholder="Enter password" name="number">
      </div>
      <div class="form-group">
          <label for="adress">Tỉnh:</label>
          <input type="text" class="form-control" id="tinh" placeholder="Enter password" name="tinh">
      </div>
      <div class="form-group">
          <label for="adress">Xã phường:</label>
          <input type="text" class="form-control" id="xaphuong" placeholder="Enter password" name="xaphuong">
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
  </div>
  <script>
      $(document).ready(function(){
          alert("Helle jquery");
      })
  </script>
</body>
</html>
​
